In [3]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv("Migration_Dataset.csv")

In [6]:
df.head()

,STATISTIC Label,Year,Age Group,Sex,Inward or Outward Flow,UNIT,VALUE
0,Estimated Migration (Persons in April),1987,All ages,Both sexes,Net migration,Thousand,-23.0
1,Estimated Migration (Persons in April),1987,All ages,Both sexes,Emigrants: All destinations,Thousand,40.2
2,Estimated Migration (Persons in April),1987,All ages,Both sexes,Immigrants: All origins,Thousand,17.2
3,Estimated Migration (Persons in April),1987,All ages,Male,Net migration,Thousand,NaN
4,Estimated Migration (Persons in April),1987,All ages,Male,Emigrants: All destinations,Thousand,NaN

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1998 entries, 0 to 1997
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   STATISTIC Label         1998 non-null   object
 1   Year                    1998 non-null   int64
 2   Age Group               1998 non-null   object
 3   Sex                     1998 non-null   object
 4   Inward or Outward Flow  1998 non-null   object
 5   UNIT                    1998 non-null   object
 6   VALUE                   1683 non-null   float64
dtypes: float64(1), int64(1), object(5)
memory usage: 109.4+ KB

In [8]:
df.describe()

              Year        VALUE
count  1998.000000  1683.000000
mean   2005.000000    10.856625
std      10.679751    17.070445
min    1987.000000   -43.900000
25%    1996.000000     1.200000
50%    2005.000000     4.500000
75%    2014.000000    14.000000
max    2023.000000   151.100000

In [9]:
df["Year"].head(10)

0    1987
1    1987
2    1987
3    1987
4    1987
5    1987
6    1987
7    1987
8    1987
9    1987
Name: Year, dtype: int64